html, body {
    background: #728fbb;
    color: #0c192c;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.smooth-scroll { /* Corrected class name */
    overflow: hidden;
}

.hero-scroller {
    height: 250vh;
    overflow: hidden;
}

.section {
    position: relative;
    display: flex;
    min-height: 100vh;
    padding: 50px;
    justify-content: center;
} /* Added closing curly brace */
